
# Logs
logs
*.log

# dotenv environment variables file
.env
.env.*

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# ignore VSCode directory
.vscode

# swap
*.swp

# mac
.DS_Store*